 {{#each results}}

<div>
    <img style="width: 50px" src={{this.img}} alt="">

    <a href="/showprofile/{{this._id}}">
        Username: {{this.username}}
    </a>

    Country: {{this.country}}
    Main role: {{this.mainRole}}
    Main genre: {{this.mainGenre}}
</div>

{{/each}}