{{#each user}}

<div>
    <img style="width: 50px" src={{this.img}} alt="">

    <a href="#">
        Username: {{this.username}}
    </a>

    Location: {{this.country}}
    Main role: {{this.mainRole}}
    Main genre: {{this.mainGenre}}
</div>

{{/each}}