
<div class="dashboard-cont" id="container">
  <div class="dash-info-cont">
    <h4>Welcome to your dashboard {{loggedInUser.username}}</h4>
    <div class="dash-top">
      <img style="width: 100px" src={{loggedInUser.img}} alt="">
      <div>
        <h2>Username: {{loggedInUser.username}}</h2>
        <h4>About Me </h4>
        <p>{{detailsData.description}}</p>
      </div>
    </div>
    <div class="dash-mid">
      <div>
        <h4>Main role: </h4> {{loggedInUser.mainRole}}
        <h4>Other role: </h4> {{detailsData.subRole}}
      </div>
      <div>
        <h4>Main genre: </h4> {{loggedInUser.mainGenre}}
        <h4>Other genres: </h4> {{detailsData.subGenre}}
      </div>
      <div>
        <h4>Location</h4>
        Country: {{loggedInUser.country}}
        City: {{detailsData.city}}
      </div>
    </div>
    <div>
      {{#if detailsData.facebookurl}}
      {{#if detailsData.instagramurl}}
      {{#if detailsData.youtubeurl}}
      {{#if detailsData.soundcloudurl}}
      {{#if detailsData.spotifyurl}}
      {{/if}}
      {{/if}}
      {{/if}}
      {{/if}}
      {{/if}}
      {{#if detailsData.facebookurl}}
      <a href={{detailsData.facebookurl}}>
        <img style="width: 50px" src="https://www.clipartmax.com/png/middle/255-2552505_44-facebook-logo-in-circle.png"
          alt="">
      </a>
      {{/if}}
      {{#if detailsData.instagramurl}}
      <a href={{detailsData.instagramurl}}>
        <img style="width: 50px"
          src="https://image.similarpng.com/very-thumbnail/2020/06/Instagram-logo-transparent-PNG.png" alt="">
      </a>
      {{/if}}
      {{#if detailsData.instagramurl}}
      <a href={{detailsData.youtubeurl}}>
        <img style="width: 50px"
          src="http://clipart-library.com/images_k/youtube-logo-transparent-png/youtube-logo-transparent-png-7.png"
          alt="">
      </a>
      {{/if}}
      {{#if detailsData.soundcloudurl}}
      <a href={{detailsData.soundcloudurl}}>
        <img style="width: 50px" src="https://png.pngitem.com/pimgs/s/168-1682274_soundcloud-hd-png-download.png"
          alt="">
      </a>
      {{/if}}
      {{#if detailsData.spotifyurl}}
      <a href={{detailsData.spotifyurl}}>
        <img style="width: 50px"
          src="https://png.pngitem.com/pimgs/s/525-5250751_logo-transparent-spotify-podcast-hd-png-download.png" alt="">
      </a>
      {{/if}}
    </div>

  </div>
  <div class="dash-btn" >
    <a href="/updateProfile"><button class="btn btn-danger">Update Profile</button></a>
    <a href="/managebands"><button class="btn btn-danger">Manage your Bands</button></a>
  </div>
</div>