<div>
<form class="signUpLogIn" method="POST" action="/updateProfile">

    <label>Username</label>
    <input name="username" type="text" value="{{userDataMain.username}}">

    <label>Description</label>
    <input name="description" type="text" value="{{detailsData.description}}">

    <label>Image source</label>
    <input name="img" type="text" placeholder="paste image link" value="{{userDataMain.img}}">

    <label>Main genre</label>
    <select name="mainGenre" id="">
        <option value="{{userDataMain.mainGenre}}">{{userDataMain.mainGenre}}</option>
        {{#each mainGenreList}}
        <option value="{{this}}">{{this}}</option>
        {{/each}}
    </select>
    {{!--<input name="mainGenre" type="text" placeholder="Punk" value="{{userDataMain.mainGenre}}"> --}}

    <label>Other genres</label>
    <input name="subGenre" type="text" placeholder="Anything else" value="{{detailsData.subGenre}}">

    <label>Main role</label>
    <select name="mainRole" id="">
        <option value="{{userDataMain.mainRole}}">{{userDataMain.mainRole}}</option>
        {{#each mainRoleList}}
        <option value="{{this}}">{{this}}</option>
        {{/each}}
    </select>
    

    <label>Other roles</label>
    <input name="subRole" type="text" placeholder="Triangle, guitar" value="{{detailsData.subRole}}">

    <label>Your Country</label>
    <select name="country" id="">
        {{! First Option shows country previously saved.  Avoids resetting to first country in list when updating another field}}
        <option value="{{userDataMain.country}}">{{userDataMain.country}}
        </option>
        {{! Second option allows to change country from previously saved country.  Note: Previously saved country will appear twice,  at top of list and in its normal list position}}
        {{#each allCountries}}
        <option value="{{this}}">{{this}}</option>
        {{/each}}
    </select>
    <label>Your City</label>
    
    <input name="city" type="text" placeholder="" value="{{detailsData.city}}">

    <label>Your Instagram page</label>
    <input name="instagramurl" type="text" value="{{detailsData.instagramurl}}">

    <label>Your Facebook page</label>
    <input name="facebookurl" type="text" placeholder="" value="{{detailsData.facebookurl}}">

    <label>Your Youtube page</label>
    <input name="youtubeurl" type="text" placeholder="" value="{{detailsData.youtubeurl}}">

    <label>Your Soundcloud page</label>
    <input name="soundcloudurl" type="text" placeholder="" value="{{detailsData.soundcloudurl}}">

    <label>Your Spotify page</label>
    <input name="spotifyurl" type="text" placeholder="" value="{{detailsData.spotifyurl}}">

    <label>List or unlist yourself from the listings</label>
    <input name="listed" type="checkbox" {{#if userDataMain.listed}}checked{{else}}unchecked{{/if}}>
    {{!-- {{#if (userDataMain.listed)}}unchecked{{else}}checked{{/if}} --}}
    <button type="submit" class="btn btn-danger">Update</button>
</form>
</div>