{{#each results}}

<div>
  <img style="width: 50px" src={{this.img}} alt="">

  <a href="/bandView/{{this._id}}">
    Band name: {{this.bandName}}
  </a>
  Main genre: {{this.mainGenre}}
  Country: {{this.country}}
  Band looking for: {{this.bandlookingfor}}

</div>

{{/each}}