{{#each results}}

<div class="user-box">
  <img style="width: 150px" src={{this.img}} alt="">
  <a href="/bandView/{{this._id}}">
    <p>Band name: {{this.bandName}}</p>
  </a>
  <p>Main genre: {{this.mainGenre}}</p>
  <p>Country: {{this.country}}</p>
  <p>Band looking for: {{this.bandlookingfor}}</p>

</div>

{{/each}}