<div>
    <form action="/searchMusiciansResults" method="GET">
    <label for="">Genre</label>
    <select name="mainGenre" id="" value="{{user.mainGenre}}">
    {{#each searchGenreList}}
    <option value="{{this}}">{{this}}</option>
    {{/each}}

  </select>
  
  <label for="">Role</label>
  <input type="text" name="mainRole" id="">
  <label for="">Country</label>
  <select name="country" id="" value="{{user.country}}">
      {{#each allCountriesSearch}}
      <option value="{{this}}">{{this}}</option>
      {{/each}}
  </select>
  <label for="">City</label>
  <input type="text" name="city" id="">
  
  <button type="submit">Search Musicians</button>
</form>

</div>






{{#each user}}

<div>
    <img style="width: 50px" src={{this.img}} alt="">

    <a href="/musicianProfile/{{this._id}}">
        Username: {{this.username}}
    </a>

    Location: {{this.country}}
    Main role: {{this.mainRole}}
    Main genre: {{this.mainGenre}}
</div>

{{/each}}