<div>
<form action="/searchBandsResults" method="GET">
  <label for="">Genre</label>
  <input type="text" name="mainGenre" id="">
  <label for="">Band Looking for</label>
  <input type="text" name="bandlookingfor" id="">
  <label for="">Country</label>
  <input type="text" name="country" id="">
  <label for="">City</label>
  <input type="text" name="city" id="">
  
  <button type="submit">Search Bands</button>
</form>

</div>

{{#each band}}

<div class="user-box">
    <img style="width: 150px" src={{this.img}} alt="">

    <a href="/bandView/{{this._id}}">
        <p>Band Name: {{this.bandName}}</p>
    </a>
    <p>Location: {{this.country}}</p>
    <p>Main genre: {{this.mainGenre}}</p>
    <p>Band looking for: {{#each this.bandlookingfor}}<p>{{this}}</p>{{/each}}</p>
    
</div>

{{/each}}
