<div>
    <form action="/searchMusiciansResults" method="GET">
        <label for="">Genre</label>
        <select name="mainGenre" id="" value="{{user.mainGenre}}">
            {{#each searchGenreList}}
            <option value="{{this}}">{{this}}</option>
            {{/each}}
        </select>

        <label for="">Role</label>
        <select name="mainRole" id="" value="{{user.mainRole}}">
            {{#each searchRoleList}}
            <option value="{{this}}">{{this}}</option>
            {{/each}}
        </select>
        
        <label for="">Country</label>
        <select name="country" id="" value="{{user.country}}">
            {{#each allCountriesSearch}}
            <option value="{{this}}">{{this}}</option>
            {{/each}}
        </select>
        
        <label for="">City</label>
        <input type="text" name="city" id="">

        <button type="submit" class="btn btn-danger">Search Musicians</button>
    </form>

</div>






{{#each user}}

<div class="user-box">
    <img style="width: 150px" src={{this.img}} alt="">

    <a href="/musicianProfile/{{this._id}}">
        <p>Username: {{this.username}} </p>
    </a>

    <p>Location: {{this.country}}</p>
    <p>Main role: {{this.mainRole}} </p>
    <p>Main genre: {{this.mainGenre}} </p>
</div>

{{/each}}