<div>
    <form action="/manageBands/{{bandId}}/addMember/search" method="GET">
        <label for="">User name</label>
        <input type="text" name="username" id="">

        <button type="submit" class="btn btn-danger">search</button>
    </form>
</div>

{{#each user}}
<div>
    <img style="width: 50px" src={{this.img}} alt="">
    <a href="/showprofile/{{this._id}}">
        Username: {{this.username}}
    </a>
    Location: {{this.country}}
    Main role: {{this.mainRole}}
    Main genre: {{this.mainGenre}}
    <a href="/manageBands/{{bandId}}/addMember/{{this._id}}"><button class="btn btn-danger">Add</button></a>

</div>
{{/each}}