<div>Profile page of {{bandProfile.bandName}}</div>
<div class="dashboard-cont">
    <div>
        <img style="width: 100px" src={{bandProfile.img}} alt="">
        <div>
            <h2>Band Name:{{bandProfile.bandName}}</h2>
            <h5>About Us</h5>
            <p>{{bandProfile.description}}</p>
        </div>
        <div>
            <h3>Our members</h3>
            {{#each bandProfile.bandstructure}}
            <div>
                <a href="/musicianProfile/{{this.profileId}}">{{this.name}}</a> Who does {{this.role}}
            </div>
            {{/each}}
        </div>
        <div>
            <h4>Main genre</h4> {{bandProfile.mainGenre}}
            <h4>Other genres</h4> {{bandProfile.subGenre}}
        </div>

        <div>
            <h4>Location</h4>
            Country: {{bandProfile.country}}
            City: {{bandProfile.city}}
        </div>
        <h4>We are looking for</h4>
        {{bandProfile.bandlookingfor}}
        <div>

        </div>
    </div>
    <div>
        <a href="/send-message"><button>Send {{bandProfile.bandName}} a message</button></a>
    </div>
</div>


{{!--In case we add social media links}}
{{!--<div>
            <h4>My Social Media Links</h4>
            <a href={{detailsData.facebookurl}}>
                <img style="width: 50px"
                    src="https://www.clipartmax.com/png/middle/255-2552505_44-facebook-logo-in-circle.png" alt="">
            </a>

            <a href={{detailsData.instagramurl}}>
                <img style="width: 50px"
                    src="https://image.similarpng.com/very-thumbnail/2020/06/Instagram-logo-transparent-PNG.png" alt="">
            </a>

            <a href={{detailsData.youtubeurl}}>
                <img style="width: 50px"
                    src="http://clipart-library.com/images_k/youtube-logo-transparent-png/youtube-logo-transparent-png-7.png"
                    alt="">
            </a>

            <a href={{detailsData.soundcloudurl}}>
                <img style="width: 50px"
                    src="https://png.pngitem.com/pimgs/s/168-1682274_soundcloud-hd-png-download.png" alt="">
            </a>

            <a href={{detailsData.spotifyurl}}>
                <img style="width: 50px"
                    src="https://png.pngitem.com/pimgs/s/525-5250751_logo-transparent-spotify-podcast-hd-png-download.png"
                    alt="">
            </a>
        </div>--}}