<form class="signUpLogIn" method="POST" action="/bandEdit/{{bandData._id}}">

    <label>Band name</label>
    <input required name="bandName" type="text" value="{{bandData.bandName}}">

    <label>Band image</label>
    <input name="img" type="text" value="{{bandData.img}}">

    <label>Describe your band</label>
    <input name="description" type="text" value="{{bandData.description}}">

    <label>Main Band genre</label>
    <input name="mainGenre" type="text" value="{{bandData.mainGenre}}">

    <label>Other Band genres</label>
    <input name="subGenre" type="text" value="{{bandData.subGenre}}">

    <h3>Where is your band located</h3>
    <label>Your Country</label>
    <select name="country" id="">
        {{! First Option shows country previously saved.  Avoids resetting to first country in list when updating another field}}
        <option value="{{bandData.country}}">{{bandData.country}}</option>

        {{! Second option allows to change country from previously saved country.  Note: Previously saved country will appear twice,  at top of list and in its normal list position}}
        {{#each allCountries}}
        <option value="{{this}}">{{this}}</option>
        {{/each}}
    </select>

    <label>City</label>
    <input name="city" type="text" value="{{bandData.city}}">

    <h3>Add a band member</h3>
    {{#each bandData.bandstructure}}
    {{#if this.profileId}}
    <div><a href="/musicianProfile/{{this.profileId}}">{{this.name}}</a>, does {{this.role}} <button class="btn btn-danger"><a id="anchor" href="/removeMember/{{this.bandId}}/{{this.profileId}}">  Remove member  </a></button></div>
    {{else}}
    <div>{{this.name}}, does {{this.role}} <a id="anchor" href="/removeMember/{{this.bandId}}/{{this.name}}"><button>Remove member</button></a></div>
    {{/if}}
    {{/each}}
    <a href="/manageBands/{{bandData._id}}/addMember"><button type="button" class="btn btn-danger">Add a band member</button></a>

    <h3>Missing someone in your band? Start searching!</h3>
    {{#each bandData.bandlookingfor}}
    <div>{{this}} <button class="btn btn-danger"><a id="anchor" href="/removeMissing/{{this.bandId}}/{{this}}">Delete missing</a></button></div>
    {{/each}}
    <a href="/manageBands/{{bandData._id}}/addMissing"><button type="button" class="btn btn-danger">Add a missing spot</button></a>

    <button class="btn btn-danger" type="submit">Save edits</button>
</form> 